@model IEnumerable<AnimeReviews.Models.AnimeList>

@{
    ViewBag.Title = "Details";
}

<h2>Anime Reviews</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.episodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.episodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
        </tr>
    }

</table>